body {font-family:"Inconsolata", cursive;
    background-color: #000000; 
color: #ffffff;
}

body::before {
    content: "";
background-image: url(../imagens/fundo-navio.svg);
background-repeat: no-repeat;
background-size: cover ;
background-attachment: fixed;
background-position: center;
height: 100%;
width: 100%;
position: absolute;
z-index: -1;
opacity: 0.4;
box-sizing: border-box;
}

body {
    overflow:hidden;
    
    }

.cabecalho{
    display: flex;
    justify-content: center;
}

.selecao-de-personagens {
display: flex;
align-items: center;
gap: 15px;
min-height: calc(100vh - 158px);
justify-content: center;
}

.selecao-de-personagens .lista-de-personagens {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content:center;
    margin-inline: auto;
    max-width:70%;
}

.selecao-de-personagens .personagens {
    display: flex;
    flex-direction: column;
    align-items: left;
    max-width: 900px;
    gap: 30px;
}

.selecao-de-personagens .personagens .titulo {
font-size: 20px;
letter-spacing: 4px;
margin-top: 10px;
text-transform: uppercase;
width:70%; 
text-align: center;
margin-inline: auto;
border-bottom: 2px solid #47f4ff;
}

section img {
    width: 100px;
    height: 100px;
}


.lista-de-personagens .personagens img {
width: 2px;
height: 2px;
}

.lista-de-personagens .personagem.selecionado {
    box-shadow: 0px 0px 24px 5px #ff3131;

}

.personagem-selecionado {
text-align: center;
max-height: 930px;
}

.personagem-selecionado .personagem-grande{
    width: 250px;
    height: 250px;
    margin-right: 50px;
    }

.personagem-selecionado .nome-personagem{
    border-bottom: 2px solid #47f4ff;
    letter-spacing: 4px;
    text-transform: uppercase;
    width: 90%;
    margin: 0 auto;
    font-size: 16px;
    margin-inline: auto ;
    text-align: center;
}

    .personagem-selecionado .descricao-personagem {        
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        margin-top: 20px;
        width: 360px;
        height: 90px;
        margin-right: 30px;
        overflow-y: auto;
        }

